*{
    box-sizing: border-box;
}

body{

    background-color: #FF7400;
    margin: 0;
}

/*==================
   Navbar section
==================== */


/* Navbar background color and layout */
.navBar{
    background-color: #00C1C1;
    overflow: hidden; /*this will give it auto height*/
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;

}
/* Styling the links */
.navBar a{
    text-decoration: none;
    text-align: center;
    font-size: 2em;
    color: White;
    font-family: 'Roboto', sans-serif;
    float: left;
}


/* add color to hover over */
.navBar a:hover {
    background-color: #00D200;
    color: #006262;
    
}


.CenterNav a{
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.RightNav{
    float: right;
}

.navBar i{
    font-size: 1.5em;
    padding: 9px 5px;
}

.navText{
    padding: 14px 5px;
}

@media screen and (max-width: 600px){
    .navBar a, .RightNav{
        float: none;
        display: block;
        position: static;
    }

    .CenterNav a{
        position: relative;
        top: 0;
        left: 0;
        transform: none;
    }
}


/*================
Navbar section ends
===================*/

/* ================
  rows and collums
================== */
.row:after{
    content: "";
    display: table;
    clear: both;
}

.col{
    float: left;
    width: 48vw;
    padding: 1vw;
    height: 50vw;
    background-color: #FF7400;
}


/* ================
rows and collums ENDS
====================*/


/* ================
 Heroic Sectoin
====================*/
.Heroic{
    background-color: #FF7400;
}

.HeroBgBox{
    background-color: #D15F00;
    width: 42vw;
    height: 40vw;
    position: relative;
    top: 0;
    left: 8vw;
    
}

.profileMe{
    position: absolute;
    top: 0;
    border-radius: 10px;
    width: 18%;
    top: 10vh;
    right: 10vw;
    
}

.titleCard1,.titleCard2{
    text-align: left;
    font-size: 7vw;
    color: white;
    position: relative;
    margin: 0;
    bottom: 20vw;
    left: 10vw;
    font-family: 'Roboto', sans-serif;
}

.titleCard2{
    font-size: 5vw;
    bottom: 22.5vw;
    left: 16vw;
    font-family: 'Roboto:ital', sans-serif;

}


/* ================
 Heroic Sectoin Ends
====================*/
.About{
    
    background-color: #00D200;
}

