    *{
        box-sizing: border-box;
    }

    body{
        height: 50vw;
        width: 100vw;
        background-color: #FF7400;
        opacity: 1;
        transition: opacity 2s;
    }
    
    body.fade-out {
        opacity: 0;
        
    }

    p,i{
        font-family: 'Roboto', sans-serif;
        font-size: 2vw;
        color: white;
    }
