@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="textblock">Witcher Music</h1>
    <h3 class="textblock"> Silver for Monsters</h3>
    <iframe width="1280" height="720" src="https://www.youtube.com/embed/LDnENTDuAiI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <button onclick="myMove()">Click Me</button>
    <div id="myContainer"><div id="myAnimation"></div></div>
    

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
